<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	  
<!--    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">-->
    <meta charset="utf-8">

    <title>Chad Nelson</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"> 

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
			   <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://chad-nelson.github.io/static/documents/Chad_Nelson_Resume.pdf">Resume</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Chad Nelson</h1>
		</br>
        <h3> Projects <h3>
      </div>
    </div>


	<!-- *************************************
	Project Info
	-->
	<div class="container">
		<h3> <u>Business Analytics Professional Work</u> </h3> <br>
		<h5> Group Quoting Tool </h5> <br>
		
		<p> I created this tool in Excel for ease of use for myself and the other people who use it, but it is connected through
		SQL and SAS to our databases. I wrote multiple VBA macros to automate the processes of updating the data and exporting the file
		once the appropriate information is filled in. I also made a page of adjustable inputs to the formulas so my team's leaders can 
		alter the outcomes if they'd like and see how other leaders are making use of their options.</p>

		<h5> Booking Window Analysis </h5> <br>

		<p> In this task, I was asked by an executive to create a report by visualizing data gathered through SQL. Gathering the data
		was the biggest challenge as the data was not able to be easily queried. It required creating a series of case statements in
		the query in order to compartmentalize the data into the desired format.</p>
		
		<h5> Hotel Markup Automation </h5> <br>
		
		<p> This project was to automatically adjust airfare pricing based on data inputs to determine if it was packaged with a hotel purchase.
		There are offers which discount rates if both airfare and lodging are purchased, so in order to maximize profitability, if airfare
		was being purchased with lodging, we would adjust the airfare so we would still get our full rate. I was able to take lead on this 
		project because I had a better knowledge of Python than my coworkers and was able to utilize its capabilities more effectively. </p>
		
		<h3> <u> Business Analytics Educational Work </u> </h3> <br>
		<h5> Big Data Analytics Project</h5 ><br>
		
		<p> In this project, I used Spark R in the Databricks analytics platform to predict the payment type of taxi customers based on multiple input
		variables. The data used is taxi data from New York City during August 2014. I used both a logistic regression and random forest model to
		predict the outcome of payment type. After viewing the results, it appears that passenger count was the largest indicator of payment type
		based on the input variables used. There is no surcharge for extra passengers in New York City taxis, but this could be a result of people
		tipping more when their group is larger. If the customer tips more, they may not have enough cash on hand or not want to use a large
		amount of their cash. </p>
		
		<h5> Quantitative Finance Project 1</h5 ><br>
		
		<p> I used Python in this project to analyze the relative strength index (RSI) of a stock or exchange-traded fund (ETF) by analyzing the Invesco QQQ
		ETF which tracks the Nasdaq-100. For both this project and the one below, I used the University of Iowa's high-performance computing resources.</p>
		<!--<a class="nav-link" href="../static/documents/Quantitative_Finance.html">Quantitative Finanace Project 1 Script</a><br>-->
	
		<h5> Quantitative Finance Project 2</h5 ><br>
		
		<p> In this project, I again used Python to find metrics such as average order life, number of orders by time frame, order imbalance, and percentage price change for Apple stock 
		on a single trading day only through the Nasdaq exchange. The data was obtained from Wharton Research Data Services.</p>
	
		</br>
	   
	<!-- <div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/chad-nelson" target="_blank">View Repository</a>
	</div>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/CEOpayratio.pdf" target="_blank">View Report</a>
	-->
	</div>	
	
  </main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <h5> Get in touch </h5>
    <ul>
	  <a href="mailto:chad.odell.nelson@gmail.com"><li>Email</li></a>
	  <li class="customclass"> | </li>
	  <a  style="color:gold;"<li>Phone:(712)540-9769</li></a>
	  <li class="customclass"> | </li>
	  <a  href="https://linkedin.com/in/nelson-chad"><li>LinkedIn</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
